* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $lightGray;
  color: $darkBlue;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  overflow: hidden;
}
header,
main,
footer {
  width: 92%;
  margin: auto;
  @include flex($dir: column, $just: center);
}

header,
footer {
  text-align: center;
  padding: 20px 10px;
  @include medq($break-m) {
    max-width: 50%;
    margin: auto;
  }
}

main {
  @include medq($break-m) {
    @include flex($dir: row, $just: space-evenly);
    width: 100%;
    max-width: 1100px;
  }
}

.intro p {
  color: $grayisBlue;
  margin: 20px;
  font-weight: 200;
  font-size: 0.75em;
  line-height: 20px;
  @include medq($break-m) {
    font-size: 1.25em;
    line-height: 26px;
  }
}
